<%= form_for @todo_list do |f| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this
        todo_list from being saved:</h2>

      <ul>
        <% todo_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <table class="table">
    <thead>
      <th>Option</th>
      <th>Task name</th>
      <th>Completed</th>
      <th>Due</th>
    </thead>
    <tbody class="fields_hihi">
      <%= f.fields_for :tasks do |builder| %>
        <%= render "todo_lists/task", f:builder %>
      <% end %>
    </tbody>
  </table>
<hr>
  <div class="actions">
    <%= f.submit %>
    <%= link_to_add_row "Add a Task", f, :tasks, class: "btn btn-primary" %>
  </div>
<% end %>
