<tr>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Delete", "#", class: "remove_record" %>
  </td>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :completed %></td>
  <td><%= f.text_field :due %></td>
</tr>
